%text-overflow{
	overflow: hidden; 
	white-space: nowrap; 
	text-overflow: ellipsis;
}
.head-top{
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	color: #282828;
	background: #e3e3e3;
	.slogan{
		float: left;

	}
	.handle{
		float: right;
		.one{
			background: url("../images/head_line_vertical.jpg") no-repeat right center;
			padding-right: 10px;
			margin-right: 10px;
		}
	}
}
.head-logophone{
	.logo{
		float: left;
		a{
			height: 100px;
			display: block;
			float: left;
			width: 278px;
			text-indent: -9999px;
			background: url("../images/logo.png") no-repeat left center;
		}
	}
	.phone{
		float: right;
		padding-left: 60px;
		height: 100px;
		line-height: 100px;
		background: url("../images/icon_phone.jpg") no-repeat left center;
		font-size: 26px;
		color: #343432;
	}
}	

.nav-box{
	
	background: url("../images/nav_bg.jpg")  repeat-x;
	border-bottom: 1px solid #939393;
	
	.list{
		height: 71px;
		overflow: hidden;
		li{
			float: left;
			display: inline;
			width: 144px;
			border-left:1px solid #80abdb;
			border-right:1px solid #80abdb;
			margin: 0.5px;
			&:first-child{
				border-left: none;
			}
			&:last-child{
				border-right: none;
			}
			a{
				font-size: 24px;
				color: #fff;
				height: 71px;
				line-height: 71px;
				text-align: center;
				display: block;
				text-indent: center;
				&:hover{
					text-decoration: none;
					background: url("../images/nav_bg_hover.jpg") no-repeat;
				}
			}
			&.oncurr{
				a{
					background: url("../images/nav_bg_hover.jpg") no-repeat;
				}
			}
		}
	}
}

.footer{
	background: #263765;
	color: #fff;
	padding: 40px 0 0;
	.phone{
		float:left;
		background: url("../images/footer_phone.jpg") no-repeat left center;
		height: 93px;
		padding-left: 100px;
		margin-right: 100px;
		margin-top: 18px;
		span{
			margin-top: 15px;
			display: block;
		}
		p{
			font-size: 32px;
			
		}
	}
	.contact{
		float: left;
		line-height: 28px;
		padding-top: 18px;
	}
	.qrcode{
		float: right;
		.tit{
			width: 100px;
			text-align: right;
			float: left;
			margin-right:18px;
			padding-top: 30px;
		}
		.pic{
			float: left;
		}
	}
	.copyright{
		margin-top: 40px;
		padding: 30px 0;
		text-align: center;
		clear: both;
		border-top:2px solid #3f578b;
	}
}