.sub-banner{
	width: 100%;
	height: 448px;
	overflow: hidden;
	margin-bottom: 40px;
	.inner{
		float: left;
		position: relative;
		left:50%;
		p{
			float: left;
			display: inline;
			position: relative;
			left:-50%;
		}
	}
}
.sub-tit-1{
    margin-top: 30px;
    height: 157px;
    color: #00438f;
    background:url("../images/sub_tit_line.png") no-repeat center center;
    text-align: center;
    .tit{
        font-size: 24px;

        font-weight: bold;
        position: relative;
    }
    .en{
        font-size: 14px;
        line-height: 30px;
        margin-top: 15px;
    }
    .intro{
        width: 430px;
        margin: 15px auto 0;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
    }
}

.pagination-out{
  height: 38px;
  margin-bottom: 75px;
  .pagination-inner{
    float: left;
    position: relative;
    left:50%;
    .pagination-con{
      float: left;
      display: inline;
      position: relative;
      left:-50%;
      a{
        display: inline-block;
        width: 36px;
        height: 36px;
        text-align: center;
        line-height: 36px;
        overflow: hidden;
        border:1px solid #dcdcdc;
        background: #fff;
        border-radius: 3px;
        vertical-align: middle;
        &.prev,&.next{
          width: auto;
          padding: 0 10px;
        }
        &:hover{
          background: #dfdfdf;
        }
      }
      span{
        display: inline-block;
        width: 36px;
        height: 36px;
        text-align: center;
        line-height: 36px;
      }
    }
}
}
