
    <div class="footer clearfix">
    	<div class="container">
			<div class="clearfix">
				<div class="phone">
					<span>服务热线：</span>
					<p>400-000-0000</p>
				</div>
				<div class="contact">
					<p>地址：xxxsxxxxxxxx</p>
					<p>网址：www.xxxxx.com</p>
					<p>邮箱：xxx@qq.com</p>
				</div>
				<div class="qrcode">
					<span class="tit">扫一扫查看<br/>手机网站</span>
					<div class="pic"><img src="images/upload/qwcode.jpg"></div>
				</div>
			</div>
			<p class="copyright">版权所有：xxx有限公司 京ICP备：00000000号 技术支持：xx网络公司</p>
		</div>
    </div>
